<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GeoQuester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylesheet.css') }}">
</head>
<body>
    <h1>Welcome to GeoQuester</h1>
    <p>Please choose an action:</p>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</body>
</html>