<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylesheet.css') }}">
    </head>
    <body>

        <div class="content">
            <h2>Welcome to the Find page!</h2>
            <p>Here you can find a game according to your specifications.</p>
        </div>

        <div class="sidebar">
            <a href="homepage">Home</a>
            <a href="create">Create</a>
            <a href="play">Play Now</a>
            <a href="find_game">Find a Game</a>
            <a href="leaderboard">Leaderboard</a>
        </div>
    </body>
</html>
