<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
</head>
<body>

<div class="dashboard">
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename = 'css/logo.png') }}" alt="Logo" width="230" height="60">
        </div>
        <div class="menu">
            <a href="user">Home</a>
            <a href="play">Play Now</a>
            <a href="create">Create</a>
            <a href="leaderboard" class="active">Leaderboard</a>
            <a href="logout">Log Out</a>
        </div>
    </div>

    <div class="main-content">
        <div class="header">
            <h1>Welcome to the Leaderboard page!</h1><br>
            <p>See your ranking below!</p>
        </div>

        <div class="tables">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
