<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    </head>
    <body>
        <div class="dashboard">
            <div class="sidebar">
                <div class="logo">
                    <img src="{{ url_for('static', filename = 'css/logo.png') }}" alt="Logo" width="230" height="60">
                </div>
                <div class="menu">
                    <a href="user">Home</a>
                    <a href="play">Play Now</a>
                    <a href="create">Create</a>
                    <a href="leaderboard" class="active">Leaderboard</a>
                    <a href="logout" id="logout">Log Out</a>
                </div>
            </div>

            <div class="main-content">
                <div class="header">
                    <h1>Welcome to the Leaderboard page!</h1><br>
                    <p>See your ranking!</p>
                </div>

                <div class="tables">
                    <table>
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in players %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ player.name }}</td>
                                <td>{{ player.points }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
            </div>
        </div>
        <script>
            // Wait for the DOM to be fully loaded
            document.addEventListener('DOMContentLoaded', function () {
                // Select the logout link
                var logoutLink = document.getElementById('logout');
        
                // Add a click event listener to the logout link
                logoutLink.addEventListener('click', function (event) {
                    // Prevent the default link behavior
                    event.preventDefault();
        
                    // Show the logout confirmation alert
                    var confirmLogout = confirm("Are you sure you want to log out?");
                    if (confirmLogout) {
                        // If the user confirms, redirect to the logout URL
                        window.location.href = logoutLink.getAttribute('href');
                    }
                });
            });
        </script>
    </body>
</html>
