<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="static/css/forms.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  </head>
  <body>
    <button class="home-button" onclick="window.location.href='/base'">Home</button>
    <div class="container">
      <h2>Login</h2>
      <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <!--Get user email-->
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Email") }}
        </div>
        <!--Get user password-->
        <div class="form-group">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control", placeholder="Password") }}
        </div> <br>
        <!--Submit-->
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
        <!--Redirect to register, if no account-->
        <div class="form-group">
          <h3> Don't have an account yet?</h3> <br>
          <a href="/register" class="btn">Register</a>
        </div>
        <!--Flash messages if incorrect login-->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-messages-login">
                {% for message in messages %}
                  <div class="flash-message-login {{ message.category }}">{{ message }}</div>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        
      </form>
    </div>
  </body>
</html>
