<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
</head>
<body>

<div class="dashboard">
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename = 'css/logo.png') }}" alt="Logo" width="230" height="60">
        </div>
        <div class="menu">
            <a href="user">Home</a>
            <a href="play" class="active">Play Now</a>
            <a href="create">Create</a>
            <a href="leaderboard">Leaderboard</a>
            <a href="logout">Log Out</a>
        </div>
    </div>

    <div class="main-content">
        <div class="content">
            <h2>Welcome to the Play page!</h2>
            <p>The game will be located here.</p>
        </div>
    </div>
</div>

</body>
</html>
