<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quest</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/quest.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    </head>
    <body>
        <a href="/play">
            <button class="quit-button">Quit</button>
        </a>
        <div class="content">
            <h2> {{ title }}</h2>
            <p>Question {{ hint_number }}: {{ quest.quest_hint }}</p>
            <form action="/play/{{ quest_id }}/{{ hint_id }}" method="post">
                <input type="hidden" name="quest_id" value="{{ quest_id }}">
                <input type="hidden" name="hint_id" value="{{ hint_id }}">
                <label for="answer">Your Answer:</label>
                <input type="text" id="answer" name="answer" required>
                <button type="submit">Check</button>
            </form>
            <div class="heart-count">
                <img src="{{ url_for('static', filename = 'css/heart.png') }}" alt="Heart Icon" class="heart-icon">
                <span>{{ heart_count }}</span>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message {{ message.category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <script>
            // Wait for the DOM to be fully loaded
            document.addEventListener('DOMContentLoaded', function () {
                // Select all flash message elements
                var flashMessages = document.querySelectorAll('.flash-message');
        
                // Iterate over each flash message element
                flashMessages.forEach(function (message) {
                    // Set a timeout to remove the flash message after 2 seconds
                    setTimeout(function () {
                        message.remove(); // Remove the flash message from the DOM
                    }, 1000); // Adjust the time in milliseconds (2 seconds = 2000 milliseconds)
                });
            });
        </script>
    </body>
</html>
