<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quest</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/quest.css') }}">
    </head>
    <body>
        <a href="/play">
            <button class="quit-button">Quit</button>
        </a>
        <div class="content">
            <h2> {{ title }}</h2>
            <p>Hint: {{ quest.quest_hint }}</p>

            <p>Hearts: {{ heart_count }}</p>

            <form action="/play/{{ quest_id }}/{{ hint_id }}" method="post">
                <input type="hidden" name="quest_id" value="{{ quest_id }}">
                <input type="hidden" name="hint_id" value="{{ hint_id }}">
                <label for="answer">Your Answer:</label>
                <input type="text" id="answer" name="answer" required>
                <button type="submit">Check</button>
            </form>
        </div>
    </body>
</html>
