<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quest</title>
        <link rel="stylesheet" href="/static/css/quest.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    </head>
    <body>
        <button class="quit-button" onclick="window.location.href='/play'">Quit</button>
        <div class="content">
            <h2> {{ title }}</h2>
            <!--Generalised quest html, hints, solutions loaded-->
            <p>Question {{ hint_number }}: {{ quest.quest_hint }}</p>
            <form id="myForm" method="post">
                <input type="hidden" name="quest_id" value="{{ quest_id }}">
                <input type="hidden" name="hint_id" value="{{ hint_id }}">
                <label for="answer">Your Answer:</label>
                <!--Flash messages for incorrect/correct answers-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for message in messages %}
                                <div class="flash-message {{ message.category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <input type="text" id="answer" name="answer" required>
                <button type="submit">Check</button>
            </form>
            <!--Visual count for number of tries-->
            <div class="heart-count">
                <img src="/static/css/heart.png" alt="Heart Icon" class="heart-icon">
                <span>{{ heart_count }}</span>
            </div>
        </div>
        <script>
            // Fetch quest_id and hint_id from Flask template
            var questId = "{{ quest_id }}";
            var hintId = "{{ hint_id }}";

            // Construct the action URL
            var actionUrl = "/play/" + questId + "/" + hintId;

            // Get the form element
            var form = document.getElementById("myForm");

            // Set the action attribute of the form
            form.action = actionUrl;

            // Removes flash messages after 2 seconds
            document.addEventListener('DOMContentLoaded', function () {
                var flashMessages = document.querySelectorAll('.flash-message');
                        flashMessages.forEach(function (message) {
                    setTimeout(function () {
                        message.remove(); 
                    }, 2000); 
                });
            });
        </script>
    </body>
</html>
