/* Applies generally to all content*/
body, html {
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    height: 100%;
    margin: 0;
    background-image: url('map.png');
    background-size: 130%;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}


.dashboard {
    display: flex;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    background-color: #4d7c8c;
    color: #fff;
    padding-top: 20px;
    min-height: 100%;
    flex-grow: 1;
    border-radius: 5px;
}

.logo img {
    display: block;
    margin: 0 auto;

}

/* Sidebar Content and Animations*/
.menu {
    padding-top: 20px;
    font-size: 18px;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #d6cdc7;
}

.menu a.active {
    background-color: #d6cdc7;
}

/* Main Text + Content*/
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 250px;
}

.header h1 {
    margin-top: 0;
    color: black;
    display: inline-block; /* Ensures the background color wraps around the text */
    padding: 5px 10px; /* Adjust padding to create space around the text */
    background-color: rgb(255,255,255,0.5); /* Background color for the h1 */
    border-radius: 5px;
    margin-bottom: 10px;
}

.header h2 {
    margin-top: 0;
    color: black;
    display: inline-block; /* Ensures the background color wraps around the text */
    padding: 5px 10px; /* Adjust padding to create space around the text */
    background-color: rgb(255,255,255,0.5); /* Background color for the h1 */
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;

}

.header p {
    color: black;
    display: inline-block; /* Ensures the background color wraps around the text */
    padding: 5px 10px; /* Adjust padding to create space around the text */
    background-color: rgb(255,255,255,0.5); /* Background color for the h1 */
    border-radius: 5px;
}

/* Select arrows and dropdowns*/
select {
    margin-bottom: 10px;
    font-size: 15px; /* Larger font size */
    font-family: 'Roboto', sans-serif; 
    border-radius: 5px;
    padding:5px;
}

label{
    font-size: 17px; /* Larger font size */
    font-family: 'Roboto', sans-serif; 
    margin-left: 3px;
}

#filterButton {
    background-color: #4e7c8c;
    color: #fff;
    padding: 5px 5px;
    border: None;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;

}

/* Statistic squares*/

.stats {
    display: flex;
    justify-content: flex-start;
}

.stat-item {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.stat-item p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.stat-item span {
    font-size: 16px;
    color: #333;
}

/* Transparent message bubbles*/
.message {
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

/* Table formatting for play and leaderboard */

.tables {
    margin-top: 20px;
}
.tables table {
    width: 100%;
    border-collapse: collapse;
}
.tables th, .tables td {
    padding: 10px;
    border: 1px solid #ccc;
    width: auto;
}
.tables th {
    background-color: #f2f2f2;
    text-align: left;
}

.tables tr {
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; 
}

.tables tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.tables tbody tr:nth-child(odd) {
    background-color: #e5e5e5;
}

.tables tbody tr:hover {
    background-color: #9c9c9c61;
}

.tables tbody tr.highlighted {
    background-color: #4d7c8c;
}
