body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('map.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    font-size: 5em;
}

main {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 10px;
}

.intro {
    text-align: center;
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    color: #333;
    font-size: 1.2em;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
}

.buttons button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #4d7c8c;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
}

.buttons button:hover {
    background-color: #0056b3;
}
